<slide>
<div id="impress">
    <div id="bored" class="step slide" data-x="-3000" data-y="-1500">
        <p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
        <br></br>
        <p class="text-center"> Gerenciando <b>Cl&iacute;nicas</b>, Cobertura y prevenci&oacute;n de <b>Pacientes</b>, <b>M&eacute;dicos</b>,<b>Empresas</b> con Empleados sanos y <b>Seguros</b> Transparencia en Costos</p>
    </div>
    <div class="step slide" data-x="-2000" data-y="-1500">
    	<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
		<p class="text-center"><i>COMO ADMINISTRARSE CON MULTIPLES VARIABLES?</i></p>
        <div class="row">
				<p class="text-center"><img src="/front/img/semaforo-frontal-nelibox.jpg" alt="NeliBox Decisiones Semaforo" align="middle"> </p>
		</div>
    </div>
    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
		<p class="text-center"><i>DECIDIENDO SIEMPRE EN LA ZONA AMARILLA ?</i></p>
		<p class="text-center"><img src="/front/img/semaforo-diagonal.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
    </div>
    <div class="step slide" data-x="0" data-y="-1500">
    		<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Caracter&iacute;sticas Generales Funcionales</i></p>
			<div class="ui one column page grid">
				<div class="column">
					<div class="ui segment">
							<ul class="ui list">
								<li>Ex&aacute;menes y Perfiles con Data ya Cargada! Precios y Par&aacute;metros</li>
								<li>Ventas Diarias y Mensuales con un solo click</li>
								<li>Validaci&oacute;n de Data de Par&aacute;metros contra Referencias y confirmaci&oacute;n de Valores</li>
								<li>Configuraci&oacute;n de Par&aacute;metros con detalles de Texto</li>
								<li>Impresi&oacute;n de Reporte de Laboratorio</li>
								<li>Historial de Pacientes por Ex&aacute;menes y General</li>
								<li>Formula de Ex&aacute;menes Configurable</li>
								<li>Administracion de Compras, recepcion de Material, Pagos Proveedores</li>
								<li>Promociones para Ajuste de precios para Noches y/o Fines de Semana</li>
								<li>Precios Especiales por Compa&ntilde;ias de Seguro</li>
								<li>Ajuste de precios por Tipo de Ordenes</li>
								<li>Caja con Cierre, Flujo del Dinero y por Usuarios</li>
								<li>Estad&iacute;sticas de Ex&aacute;menes</li>
								<li>Datos de Pacientes con Fotos</li>
								<li>Modulo de Pagos con administraci&oacute;n de pagos con autorizaci&oacute;n y por diferentes medios de Pagos</li>
								<li>Estad&iacute;sticas de Recurrencia de Pacientes</li>
								<li>Reporte con posiciones configurables por par&aacute;metros</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		    <div class="step slide" data-x="0" data-y="-1500">
    		<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Caracter&iacute;sticas Generales T&eacute;cnicas</i></p>
			<div class="ui one column page grid">
				<div class="column">
					<div class="ui segment">
							<ul class="ui list">
								<li>Disponible en la Nube</li>
								<li>No requiere instalar software</li>
								<li>Tablero Digital de Data en vivo</li>
								<li>Exportaci&oacute;n de Listados a Formatos Excel y PDF</li>
								<li>Soporte en Linea 24 Horas</li>
								<li>Accesible desde m&uacute;ltiple dispositivos Desktop, Tables o Smart Phone</li>
								<li>No Requiere la compra de un Servidor o Infraestructura de Equipos</li>
								<li>Diferentes tipos de Ordenes Contado, Convenios Empresas, Cl&iacute;nica, etc</li>
								<li>Administraci&oacute;n de Ordenes con APS (Atenci&oacute;n M&eacute;dica Primaria) administrando precios por Examen por Seguro</li>
								<li>Administraci&oacute;n de diferentes tipos de Precios de Examen</li>
								<li>Gesti&oacute;n Multi-Compa&ntilde;&iacute;as</li>
								<li>Respaldo de Datos Autom&aacute;ticos</li>
								<li>Dise&ntilde;o de Pantallas o Interfaces en armon&iacute;a con el ramo medico</li>
								<li>Guardado de Imagenes digitalizadas</li>
								<li>Manejo de C&oacute;digo de Barras</li>
								<li>Men&uacute; Lateral de Acceso R&aacute;pido</li>
								<li>Alertas visuales de verificaci&oacute;n</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		 
            <div class="step slide" data-x="1000" data-y="-1500">
    	<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>SISTEMAS EN LA NUBE</i></p>
			<p class="text-right"><img src="/front/img/sistemas-disponibles.jpg" height="300px" alt="NeliBox Decisiones Acertadas" align="middle"> </p>
			<span class="text-center">DISPONIBLES DONDE TENGAS <b>INTERNET</b>.</span>
       </div>
    </div>        
    <div class="step slide" data-x="2000" data-y="-1500">
        <p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
	    <div id="big" class="step">
	        <p>piense en <strong>Grande</strong> <span class="thoughts">no menos!!</span></p>
	    </div>
    </div> 
    <div class="step slide" data-x="2000" data-y="-1500">
        <p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
	    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
	        <p> y <b>peque&ntilde;as</b> ideas</p>
	    </div>
    </div> 
    <div class="step slide" data-x="2000" data-y="-1500">
        <p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
        <div id="imagination" class="step" data-x="8700" data-y="-300" data-scale="6">
        	<p>Pondr&aacute;n Sin <b>Limite</b> sus operaciones y <b class="imagination">negocios</b></p>
		</div>
    </div>
        <div class="step slide" data-x="2000" data-y="-1500">
        <p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
        <div id="one-more-thing" class="step" data-x="16000" data-y="4000" data-scale="2">
        	<p>una cosa mas...</p>
		</div>
    </div> 
    <div class="step slide"> 
    	<div class="step" data-scale="2"> 
        		<p><span class="have">Puede</span> <span class="you">probarlo</span> <span class="noticed">y comprarlo</span> <span class="its">Hoy mismo, </span> <span class="in">es</span> <b>Decir <sup>YA!</sup></b></p>
		</div>
		<p class="text-center"><a class="massive ui green button text-center" href="http://prueba.nelibox.com" target="_blank">Probar</a></p>      
    </div>
</div>
<div class="ui clearing divider"></div>
</slide>
