<!-- User: {{view.firstName}} {{view.lastName}}-->
 
<slide>
<div class="ui segment heroclinica herocover animated fadeInUp">
	<div class="ui one column divided grid">   
	    <div class="three wide column">
	      <a class="item">
	        <img class="rounded ui image" src="/front/img/menu-clinic-120.png" alt="NeliBox Clinica"/>
	      </a>
	    </div>
	    <div class="nine wide column">
	      <h1><strong>Clinica</strong></h1>
	      <h2>En la Nube, Moderno, Completo y Adaptable</h2>
	    </div> 
	</div>
	<div class="ui statistic list">
		<div class="item">
			<div class="ui center aligned one column grid">
				<div class="row">
					<div class="column">
						<br>
						<br>
							<h1 class="herotext">Gerencie Multiples Servicios en un Solo Lugar</h1>
							<br>
							<img class="image" src="/front/img/clinic-all.png">
					</div>
					<br>
					<br>
					<!--<div class="circular inverted ui button">Efectuar Una Prueba Rapida</div>-->
				</div> 
			</div>  
		</div>
	</div>	
</div> 
</slide>
<div class="ui clearing divider"></div>
<!-- Fin Hero 1  Administre y Controle con clase-->
<slide>
<div class="ui two column page grid">
  <div class="column">
	<div class="ui statistic list">
		<div class="item">
			<div class="ui center aligned one column grid">
				<div class="row">
					<div class="column">
						<img class="image" src="/front/img/clinic-services.png">
					</div>
				</div> 
			</div>  
		</div>
	</div>
 </div>
 <div class="column">
   <div class="ui segment">
      <h1><b>Multiples Modulos</b></h1>
      <p>Nelibox Rayos X permite guardar muchas imagenes por Paciente e iguamente puede usarlo en cualquier equipo de Radiografias o Tomorgrafos.</p>
   </div>
   <div class="ui segment">
      <h1><b>Multiples Empresas</b></h1>
      <img class="rounded ui small left floated image" src="/front/img/clinica-estructura.jpg">
      <p>Puedes configurar varias empresas para trabajar con la Clinica y recibiendo datos automaticos como es el caso de Servicios de Laboratorios donde las ordenes efectuadas por el Tercero en esta Caso la compa&ntilde;ia de Laboratorios se incluiran autmaticamente en las ordenes de admision.</p>
   </div>
 </div>
</div>
</slide>
<div class="ui clearing divider"></div>
<slide>
	<div class="row herotext">
	   <div class="column">
	      <div class="ui vertical fluid menu">
	        <div class="header item">
	          <h1><strong>Orden de Admisi&oacute;n Completa</strong></h1>
	        </div>
	      </div>
	    </div>
	  </div>
	<div class="ui center aligned one column grid">
		<div class="ui images">
			<img class="image" src="/front/img/clinic-services-detail3.png" alt="NeliBox Clinica Admision"/>
			<img class="image" src="/front/img/clinic-detail3.png" alt="NeliBox Clinica Admision Detalle"/>
		</div>
	</div>
	<div class="ui center aligned one column grid">
		<div class="row">
		    <div class="column">
		      <div class="ui vertical fluid menu">
		        <div class="header item">
		          <p class="herotext">Usted puede ver en forma directa cuanto lleva un Paciente cargado a su cuenta detallando todos los servicios cl&iacute;nicos efectuados, pendientes de terceros, al igual como aquellas medicinas suministradas al paciente.</p>
		        </div>
		      </div>
		    </div>
		  </div>
	</div>
	<div class="ui two column page grid">
	  <div class="column">
		      <ul class="ui list">
				  <li>Precios por Seguro</li>
				  <li>Diferentes tipos de Ordenes</li>
				  <li>Pagos de terceros</li>
			  <ul>
	  </div>
	  <div class="column">
	 		  <ul class="ui list">
				  <li>Facturas a Seguros</li>
				  <li>Asignaci&oacute;n de Habitaciones</li>
				  <li>Profesionales Medicos</li>
			  <ul>   
	  </div>
	 </div>
</slide>
<div class="ui clearing divider"></div>
<slide>
	<div class="row herotext">
	    <div class="column">
	      <div class="ui vertical fluid menu">
	        <div class="header item">
	          <h1><strong>Orden de Recepci&oacute;n Digital</strong></h1>
	          <p class="herotext">Usted puede ver en forma directa cuanto lleva un Paciente cargado a su cuenta detallando todos los servicios cl&iacute;nicos efectuados, pendientes de terceros, al igual como aquellas medicinas suministradas al paciente.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="ui three column page grid">
		  <div class="column">
			<div class="ui images">
				<img class="image" src="/front/img/clinic-detalle-ingreso.jpg" alt="NeliBox Clinica Admision Detalle"/>
				<img class="image" src="/front/img/pdf.jpg" alt="NeliBox Clinica Admision PDF"/>
			</div>
		  </div>
		  <div class="column">
			<div class="ui images">
				<img class="image" src="/front/img/clinic-ingreso-zoom.jpg" alt="NeliBox Clinica Ingreso"/>
			</div>
		  </div>
		  <div class="column">
		 	<ul class="ui list">
			  <li>C&oacute;digo de Barra F&aacute;cil acceso o F&aacute;cil agregado de Servicios o Medicamentos a las Ordenes.</li>					  				  <li>Ahorro de Papel o Errores de transcripci&oacute;n</li>
			<ul>   
		  </div>
	   </div>
</slide>
<div class="ui clearing divider"></div>
<slide>
		<div class="ui middle aligned two column grid">
		  <div class="column">
		      <div class="ui center aligned one column grid">
				  <div class="ui images">
					  <img class="image" src="/front/img/clinic-admision-listado-550.jpg" alt="NeliBox Clinica Admision Detalle"/>
				  </div>
			  </div>
		  </div>
		  <div class="column">
		  	<div class="ui vertical fluid menu">
		        <div class="item ">
		        	<div class="ui center aligned one column grid">
		        		<div class="item">
							<div class="ui images">
								<img class="image" src="/front/img/clinic-detail-lista-print.jpg" alt="NeliBox Clinica Ingreso"/>
								<p class="item herotext">Listados con resultados de Cantidades y totales al filtrar, y Exportaci&oacute;n de datos a Excel y PDF.</p>
							</div>
		        		</div>
					</div>
		        	<div class="ui center aligned one column grid">
		        		<div class="item">
							<div class="ui images">
								<img class="image" src="/front/img/clinic-detail-total.jpg" alt="NeliBox Clinica Ingreso"/>
								<p class="item herotext">Imprima u Obtenga los resultados de terceros (Laboratorios,Rayos X, Farmacias) con un solo click sin entrar en el listado.</p>
							</div>
						</div>
					</div>
		        	<div class="ui center aligned one column grid">
						<div class="ui images">
							<img class="image" src="/front/img/clinic-detail-lista.jpg" alt="NeliBox Clinica Admision Detalle"/>
							<p class="item herotext">Ordene en una forma r&aacute;pida y con una excelente ayuda visual.</p>
						</div>
					</div>
		        </div>
		      </div>
		  </div>
		 </div>
</slide>
<div class="ui clearing divider"></div>