<slide>
<div class="ui segment heroconsul herocover animated fadeInUp">
	<div class="ui one column divided grid">   
	    <div class="three wide column">
	      <a class="item">
	        <img class="rounded ui image" src="/front/img/menu-consult-120.png" alt="NeliBox Consultas Medicas"/>
	      </a>
	    </div>
	    <div class="nine wide column">
	      <h1><strong>Consultas Medicas</strong></h1>
	      <h2>No pierda Pacientes!! lo ayudamos a organizarse y que no lleguen todos el mismo Dia</h2>
	    </div> 
	</div>
	<div class="row">
		<div class="ui center aligned one column grid">
		      <img class="image" src="/front/img/consultas-medicas-cloud.png" alt="NeliBox Consultas en la Nube"/>
		      <h2 class="herotextwhite">Citas Mobiles</h2>
		</div>
	</div>
	<div class="row"> 
		<div class="ui center aligned two column grid">
		    <div class="ui images">
			  	<img class="image" src="/front/img/hero-devices-iphone-64-121.png">
			  	<img class="image" src="/front/img/hero-devices-ipad-113-140.png">
			  	<img class="image" src="/front/img/hero-devices-desktop-251-140.png">
			</div>
	  </div>   
	</div>	 
</div> 
</slide>
<div class="ui clearing divider"></div>
<!-- Fin Hero 1  Administre y Controle con clase-->
<slide>
	<div id="administre" class="ui grid stackable segment animated fadeInUp">
		<div class="item">
			<div class="content">
				 <h1 class="herotext"><strong>Informaci&oacute;n a la Mano </strong></h1>
				 <p class="herotext-sub">Nelibox Farmacias vea desde el Calendario detalles e Hist&oacute;ricos de Pacientes, Detalles de Doctor y vea como han estado Los ingresos monetarios o estad&iacute;sticos.</p>
			</div>
		</div>
	</div>
	<div class="ui horizontal icon divider"><i class="circular checkmark sign icon"></i></div>
	
	<div class="ui celled grid">
	  <div class="row">
	    <div class="one wide column" style="">
		      <div class="ui vertical fluid menu">
		        <div class="item">
		          <p class="herotext"><i class="big circular blue payment icon"></i></p>
		        </div>
		        <div class="item">
		          <p class="herotext"><i class="big circular blue user icon"></i></p>
		        </div>
		        <div class="item">
		          <p class="herotext"><i class="big circular blue book icon"></i></p>
		        </div>	        
			   </div>
		 </div>
	    <div class="eleven wide column">
	      <p class="herotext"><img class="top image" src="/front/img/consulta-detalle1.jpg" alt="Nelibox Consultas Medicas"/></p>
	    </div>
	  </div>
    </div>
</slide>
<div class="ui clearing divider"></div>
<slide>
	<div class="ui center aligned one column grid">
		<div class="ui images">
			<img class="image" src="/front/img/consultas-medicas1.png" alt="NeliBox Consultas Medicas"/>
		</div>
	</div>
	<div class="ui center aligned one column grid">
	<div class="row">
	    <div class="column">
	      <div class="ui vertical fluid menu">
	        <div class="header item">
	          <h1><strong>Administrador de Consultas M&eacute;dicas con Clase</strong></h1>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	    <div class="column">
	      <div class="ui vertical fluid menu">
	        <div class="header item">
	          <h2>Administre todo desde una vista que puede ver por lista, por Mes, Semana, Dias, Doctores, Especialidad.</h2>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui two column page grid">
	  <div class="column">
		      <ul class="ui list">
				  <li>Clasificaci&oacute;n de Citas por Color</li>
				  <li>Recordatorio por Email</li>
				  <li>Tiempos de Consulta</li>
			  <ul>
	  </div>
	  <div class="column">
	 		  <ul class="ui list">
				  <li>Facturaci&oacute;n</li>
				  <li>Caja de Dinero de Consulta</li>
				  <li>Detalles de Pagos</li>
			  <ul>   
	  </div>
	 </div>
</slide>
<div class="ui clearing divider"></div>