<slide>
	<div id="impress">
	    <div id="bored" class="step slide" data-x="-3000" data-y="-1500">
	        	<p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
				<p class="text-just"><i>En esta Secci&oacute;n de Detalles queremos darle en una manera r&aacute;pida una vista general de algunas pantallas de procesos importantes de los Modulos.</i></p>
				<p class="text-just"><i>Es un sistema que funciona en la Nube por lo que puede accederse desde m&uacute;ltiples localidades y puede adquirirse en M&oacute;dulos individuales o varios M&oacute;dulos.</i></p>
				<p class="text-just"><i>Para adquirirlo tan solo cont&aacute;ctenos, la forma de compra es por usuarios y licenciamiento m&aacute;ximo por 3 a&ntilde;os dentro de los cuales disfrutara y recibir&aacute; todas las nuevas Mejoras, si puede comprarse por menos tiempo.</i></p>
	    </div>
	    <div class="step slide" data-x="-2000" data-y="-1500">
	    	<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
				<p class="text-center"><i>Datos de Pacientes completos!!</i></p>
	        <div class="row">
				<p class="text-center"><img src="/front/img/detalles-paciente1.jpg" alt="NeliBox Decisiones Semaforo" align="middle"> </p>
			</div>
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Carga de Im&aacute;genes Tomograficas vinculadas a Ordenes e Informes M&eacute;dico</i></p>
			<p class="text-center"><img src="/front/img/detalles-orden-tomografias-galeria3.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Tablero Informativo actividades Diarias y Acumuladas</i></p>
			<p class="text-center"><img src="/front/img/detalles-tablero1.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Indicadores Visuales para par&aacute;metros dentro y fuera de Rangos</i></p>
			<p class="text-center"><img src="/front/img/detalles-ord-lab2.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Verificaci&oacute;n Autom&aacute;tica de Resultados</i></p>
			<p class="text-center"><img src="/front/img/detalles-ord-lab4.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Procese Pagos con Efectivo, Debito, Depositos, Transferencias,entre otros.</i></p>
			<p class="text-center"><img src="/front/img/detalles-pagos-efectivo-debito.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>  
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Estad&iacute;sticas inmediatas sin tener que correr procesos Especiales</i></p>
			<p class="text-center"><img src="/front/img/detalles-estadisticas.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Caja de Pagos con todos los Detalles y Permisos</i></p>
			<p class="text-center"><img src="/front/img/detalles-caja.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div> 
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Orden de Admisi&oacute;n con tab de navegaci&oacute;n Facil</i></p>
			<p class="text-center"><img src="/front/img/detalles-admision1.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>  
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Ordenes con Filtros, Facil de Usar y Muy R&aacute;pido</i></p>
			<p class="text-center"><img src="/front/img/detalles-orden-lab.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Configure Incrementos especiales &oacute; Promo de Descuentos</i></p>
			<p class="text-center"><img src="/front/img/detalles-configuracion-promo.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>
	    </div> 
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>Reportes y Documentos elegantes con Codigo de Barra</i></p>
			<p class="text-center"><img src="/front/img/detalles-nota-envio.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>
	    </div> 	    	    
	</div>
<div class="ui clearing divider"></div>
</slide>    
