<slide>
<div class="ui segment herocover animated fadeInUp">
	<div class="ui two column divided grid">
	  <div class="row">
	    <div class="column">
	      	<div class="item">
		<div class="content">
	    	<h1 class="herotext"><strong>Gracias por Contactarnos..</strong></h1>
			<h2 class="ui statistic">Pronto le responderemos.</h2>
	    </div>
	</div>
	    </div>
	    <div class="column">
	      <br>
	      <br>
	      <br>
	      <br>	
	      <h1><strong>Mientras tanto puede seguir conociendo </strong></h1>
	      <h2>Los modulos de Nelibox</h2>
	    </div>
	  </div>
	</div> 
	<div class="ui five column grid">
	  <div class="row herowhite">
	    <div class="column" >
	       <div class="ui vertical fluid">
	       		{{#link-to 'farmacia'}}
		   			<img class="ui image divcenter" src="/front/img/menu-farmacias-120.png" alt="NeliBox Farmacia"/>
		   			<p class="herotext">Farmacia</p>
		   		{{/link-to}}   
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	          {{#link-to 'consultas'}}
	          	<img class="ui image divcenter" src="/front/img/menu-consult-120.png" alt="NeliBox Consultas"/>
	            <p class="herotext">Consultas</p>
	          {{/link-to}}
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	        {{#link-to 'clinica'}}
	          <img class="ui image divcenter" src="/front/img/menu-clinic-120.png" alt="NeliBox Clinic"/>
	          <p class="herotext">Clinica</p>
	        {{/link-to}}
		  </div>	 
	    </div>
		<div class="column">
	      <div class="ui vertical fluid">
	        {{#link-to 'rayosx'}}
	          <img class="ui image divcenter" src="/front/img/menu-rayx-120.png" alt="NeliBox Rayos X"/>
	          <p class="herotext">Rayos X</p>
	        {{/link-to}}
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	        {{#link-to 'lab'}}
	          <img class="ui image divcenter" src="/front/img/menu-lab-120.png" alt="NeliBox Laboratorios"/>
	          <p class="herotext">Laboratorios</p>
	        {{/link-to}}
	      </div>
	    </div>
	  </div>
	</div>
</div> 
</slide>
<div class="ui clearing divider"></div>
{{partial "social"}}
<div class="ui clearing divider"></div>