
<slide>
<div class="ui huge header herotext">Comparta y Siganos en nuestra Red.</div>
<div class="ui medium header"><p class="herotext-sub">Y lo mantendremos informados y Atentos para atenderlo.</p></div>
	<div class="ui three column page grid">
	  <div class="column">
		 <div class="ui statistic list">
			<div class="item">
				<div class="ui center aligned one column grid">
					<div class="row">
						<div class="column">
								 <i class="huge circular inverted blue facebook icon herotext"></i>
								  <h5>Dale Me Gusta o Comparte</h5
								  <span>Informando en el Area Medica</span>
							<div class="fb-like" data-href="https://www.facebook.com/nelibox" data-width="240px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
						</div>
						<br>
						<br>
					</div> 
				</div>  
			</div>
	</div> 
  </div>
  <div class="column">
	<div class="ui statistic list">
		<div class="item">
			<div class="ui center aligned one column grid">
				<div class="row">
					<div class="column">
						<i class="huge circular inverted blue twitter icon herotext"></i>
						  <h5>Siguenos!! @nelibox</h5>
						  <a href="https://twitter.com/nelibox" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Follow @nelibox</a>
					</div>
					<br>
					<br>
				</div> 
			</div>  
		</div>
	</div>	  
  </div>
  <div class="column">
	<div class="ui statistic list">
		<div class="item">
			<div class="ui center aligned one column grid">
				<div class="row">
					<div class="column">
					  <i class="center huge circular inverted blue google plus icon"></i>
					  <h5>Comparte en Google Plus</h5>
					  <div class="g-plusone" data-annotation="none"></div>							
				</div>
					<br>
					<br>
				</div> 
			</div>  
		</div>
	</div>	  
  </div>
</div>
<div class="ui one column page grid">
<div class="ui horizontal icon divider"><i class="circular heart icon"></i></div>
	<div class="column">
		<div class="ui list">
		  <a href="http://blog.nelibox.com" target="_blank" class="chat outline icon">
			  <h5 class="herotext">NeliBox Blog</h5>
		  </a>
		<p class="textcenter">Nelibox Gerenciando Cl&iacute;nicas, Cobertura y prevenci&oacute;n de Pacientes, M&eacute;dicos, Empresas con Empleados sanos y Seguros Transparencia en Costos.</p>
	</div>
</div>
</slide>
<div class="ui clearing divider"></div>