
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<div class="ui stackable items">
  <div class="item">
    <div class="image">
       
      <img src="https://embed-ssl.wistia.com/deliveries/cc117e1e4baf470a85329223375e917c6878e0ab.jpg?image_play_button=true&image_play_button_color=1f97e0e0&image_crop_resized=150x84" alt="Nelibox Tablero" />
      <a href="//fast.wistia.net/embed/iframe/wt34zveyxm?popover=true" class="like ui corner label wistia-popover[height=388,playerColor=1f97e0,width=640]">
      
        <i class="like icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Nelibox Tablero</div>
      <p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
    <a href="//fast.wistia.net/embed/iframe/wt34zveyxm?popover=true" class="wistia-popover[height=388,playerColor=1f97e0,width=640]">
      <img src="https://embed-ssl.wistia.com/deliveries/cc117e1e4baf470a85329223375e917c6878e0ab.jpg?image_play_button=true&image_play_button_color=1f97e0e0&image_crop_resized=150x84" alt="Nelibox Tablero" />
        <i class="like icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="meta">5 days ago</div>
      <div class="name">Nelibox Pacientes</div>
      <p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
    </div>
  </div>
</div>